<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vtconnect.Properties.Settings.seçmen_otomasyonConnectionString"
            connectionString="Data Source=LAPTOP-MSFD5SIP\SQLEXPRESS;Initial Catalog=seçmen_otomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>